
body {
    background: rgb(255, 255, 255);
  }
  
  h1 {
    font-size: 80px;
    color: aquamarine
  }
  
  h3 {
    font-size: 30px;
    color: aquamarine
  }
  
  .navbar {
    padding: 5px;
    background: #5191fd;
  }
  
  .navbar-header {
    padding: 5px;
  }

  .vizualization{
    width:50%;
    height:50%;
  }

  .container-fluid {
    padding: 5px;
    background: rgb(165, 165, 165)
  }

  .container {
    padding: 15px;
    background: rgb(184, 184, 184)
  }

  .nav-link {
    background: rgb(19, 173, 135)
  }
  .toggle {
    background: rgb(19, 173, 135)
  }
  .navigation {
    padding: 5px;
  }


  .column {
    flex: 50%;
    padding: 0 4px;
  }

  .navbar li {
    display: inline-block;
    padding: 5px;
    margin-right: 10px;
    margin-left: 10px;
    cursor: pointer;
    background: #fff;
    border-radius: 3px;
  }
  
  .box {
    margin-top: 15px; 
    margin-bottom: 25px; 
    padding: 50px 40px 100px; 
    color:black;
    background-color: white; 
  }

  .navbar li a {
    color: #000;
    text-decoration: none;
  }
  
  .header {
    height: 200px;
    padding: 5px;
    background: #b87979;
  }
  
  .title{
    color: #0BADA6;  
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder; 
    padding: 5px; 
  }

  .navigation{
    padding: 5px;
  }

  .title2{
    color: rgb(255, 255, 255);  
    background: #0BADA6;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder; 
    padding: 5px; 
  }

  .toggle{
    color: rgb(0, 0, 0);  
    background: rgb(255, 255, 255);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder; 
    padding: 5px; 
  }

  footer{
    background-color: #666666; 
    border-top-style: solid; 
    border-top-width: 5px; 
    border-top-color: #0BADA6;
    color: white; 
    min-height: 55px; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px; 
    text-align: center; 
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-top: 15px; 
    }

  .header h1 {
    padding: 5px;
    margin: 0;
    color: rgb(19, 173, 135);
    text-align: center;
  }
  
  .post {
    margin-top: 50px;
    margin-right: 100px;
    margin-left: 100px;
  }
  
  #nav-select {
    visibility: hidden;
  }
  
  @media (max-width: 480px) {
    .navbar li {
      padding: 5px;
    }
  
    .post {
      margin-right: 5px;
      margin-left: 5px;
    }
  
    .navbar ul {
      visibility: hidden;
    }
  
    #nav-select {
      visibility: visible;
    }
  }
